.tag {
  background: #cde69c;
  color: #638421;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 8px;
  .border-radius(2px);
}
